.content {
  min-height: 100vh;
  overflow: hidden;
}
.d_card {
  width: 80vw;
  height: 70vh;
  /* border: 1px solid red; */
}
.d_card h1 {
  cursor: pointer;
  border-radius: 10px;
}
.d_icon {
  z-index: 0 !important;
}
.d_card img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border-radius: 10px;
  /* opacity: 0.6; */
}
.d_textarea {
  height: 100px;
}
.img_comment {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
