/* Form register */
.show_image {
  width: 100%;
  height: 100vh;
  object-fit: inherit;
}
.col_left {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col_right {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1224px) {
  .col_right {
    display: none;
  }
}
